.tspContent{
  display: table;
}
.dt_textValue{
  width: 100%;
  display: table-row;
}
.dt_textValue div{
  width: 36%;
  padding: 0 2%;
  float: left;
  font: 13px bold arial;
  line-height: 24px;
  display: table-cell;
}
.dt_textValue input{
  width: 60%;
  float: rigth;
  display: table-cell;
}
