body{
    margin: 0
}

#header{
    height: 30px;
    background: #356AA0;
    text-align: center;
}
#header span{
    font: bold 18px sans-serif;
    color: #EEEEEE;
    position: relative;
    top: 5px;
}
#canvas{
    width: 100%;
    position: absolute;
    top:30px;
    left: 0px;
}
#boxes{
    width: 100%;
    position: absolute;
    top:30px;
    left: 0px;
}
#tagSelectionPanel{
    z-index: 1000;
    position: absolute;
    width: 140px;
    border: double 1px #36393D;
    top: 20px;
    left: 20px;
    display: none;
    font: 12px bold Arial;
    background: #FFF;
    -moz-box-shadow: 3px 3px 8px #888;
    -webkit-box-shadow: 3px 3px 8px #888;
    box-shadow: 3px 3px 8px #888;
}
#tagSelectionPanel #tspTitle{
    width: 100%;
    height: 15px;
    background: #F9F7ED;
    border-bottom: 1px solid #000;
    text-align: center;
}
#tagSelectionPanel #tspThemes{
    display: none;
}
#tagSelectionPanel #tspClose{
    z-index: 1001;
    right: -8px;
    top: -8px;
    cursor: pointer;
    position: absolute;
}
/*Boxes styles*/
.box{
    border: 1px dashed #BBB;
}
.activeBox{
    border: 1px dashed #F00;
}
.addTagsButton{
    background: url('/images/plus.png') no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    display: none;
}
/*Tags styles*/
.tagLabel{
    background:#EEE;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    float: left;
    padding: 0px 1px;
    border: 1px solid #000;
    font: 10px normal Arial;
}
.tlbiItem{
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.tlbiTitle{
    width: 100px;
    display: inline;
}
.tlbiTitle span{
    font-size: 16px;
}
.tlbiChkBox{
    float: right;
    right: 5px;
}
.tlbiTitle div.tagSet{
    width: 5px;
    height: 19px;
    margin-right: 5px;
    float: left;
}
.tlbiTitle div.data{
    background: #FF0000;
}
.tlbiTitle div.nav{
    background: #00FF00;
}
#tspTagEditor{
    border: 1px solid #000;
}