#title{
    text-align: center;
    font: bold 16px sans-serif;
    background: #99BBE8;
    color: #333;
    padding: 4px;
    text-shadow: 2px 2px 2px #CCC;
}
/*Canvas Section*/
#canvas .box{
    border: 1px solid #000;
    position: absolute;
}
#canvas .active{
    border: 1px solid red;
}
/*Menu Section*/
#infoOfBox{
    text-align: center;
    margin: 5px 2px;
    border-bottom: 2px groove #000;
}
#boxId{
    font: bold 18px monospace;
}
#boxType{
    font: normal 15px monospace;
}